body {
    position: relative;
    width: 1600px;
    height: 920px;

background: #FFFFFF;
}
.logo {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-top: 37px;
    margin-left: 80px;
    font-weight: 700;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */
    letter-spacing: -0.02em;
    color: #0A1B32;
}
.logo-dot {
    color: #4F56F1;
}

a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 97.5px;
    text-decoration: none;
    
}
section {
    display: inline-block;
}

li {
    list-style-type: none;
    display: inline;
    
}
.signin {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-right:20px;
    /* mrgin-left is supposed to be around 720px but I wanted it to look good in my browser*/
    margin-left: 600px;
}
.signup-btn {
    position: absolute;
    width: 120px;
    height: 59.65px;
    background: #4F56F1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    margin-top: 30px;
    margin-right:68px;
    margin-left:20px;
    
}
.sign-in-up {
    display: inline;
}

h1 {
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 208.71px;
    margin-left:200px;
    max-width: 495px;
    width: 100%;
}

.info-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    margin-left:200px;
    max-width: 538.08px;
    width: 100%;
}
.more-btn {
    position: absolute;
    width: 152px;
    height: 63.82px;
    left: 200px;
    margin-top: 50px;
    background: #4F56F1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none; 
}
img {
    position: absolute;
    width: 653px;
    height: 604px;
    left: 853px;
    top: 186px;
    margin-top:97px;
    margin-right:94;
    margin-left:115px;
}
